<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
</head>
<script src="https://unpkg.com/vue@next"></script>

<body>
    <div id="app"></div>
</body>


<script>
    Vue.createApp({
        data() {
            return {
                todoList: ["吃饭", "睡觉", "工作", "娱乐"],
                inputText: ""
            }
        },
        methods: {
            addTodo(){
                this.todoList.push(this.inputText);
                this.inputText = ""
            }
        },
        template: `<div>
                <input v-model="inputText"/>
                <button v-on:click="addTodo">添加</button>
                <ul>
                    <li v-for="(item, index) in todoList">{{item}} - {{index}}</li>
                </ul>
            </div>`
    }).mount("#app")
</script>

</html>