<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<script src="https://unpkg.com/vue@next"></script>

<body>
    <div id="app"></div>
</body>


<script>
    Vue.createApp({
        data() {
            return {
                counter: 0,
                max: 10,
                min: -10
            }
        },
        methods: {
            inc() {
                this.counter++;
            },
            desc() {
                this.counter--;
            }
        },
        template: `
            <button v-on:click="desc" v-if="counter>min">-</button>
            <span>{{counter}}</span>
            <button v-on:click="inc" v-if="counter<max">+</button>
            `
    }).mount("#app")
</script>

</html>